/* You can add global styles to this file, and also import other style files */
:root {
    --primary_color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    color: black;
    font-family: 'Roboto';
}
.mat-icon {
    color: white;
}

body {
    margin: 0;
}

.container {
    margin: 25px auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
